<html lang="es">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
    <meta charset="utf-8"/>
    <title>MyOpenData</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet">/</link>
    <!--[if lt IE 9]
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    -->
    <link href="/css/styles.css" rel="stylesheet">/</link>
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/" role="navigation">MyOpenData</a>
          <button class="navbar-toggle" data-target="#navbar-main" data-toggle="collapse" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <nav class="navbar-nav navbar-left">
              <a class="navbar-brand" href="/aditivos">Aditivos</a>
          </nav>
        </div>
      </div>
      <!-- /.navbar-collapse
      -->
    </div>
    <div class="container">
       <div class="row">
         <div class="text-center v-center"
            <form action="/" method="post">
              <input type="text" name="aditivo"  size="40" placeholder="Ej: E-160d; Muy Toxico" value="" autofocus>
              <button class="btn btn-success btn-lg" type="submit">Buscar</button>
            </form>
        </div>
      </div>
      <div class="row">
        <h1 class="text-center">Lista Aditivos</h1>
          <table class="table-responsive table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Adictivo</th>
                  <th>Nombre</th>
                  <th>Toxicidad</th>
                </tr>
              </thead>
              <tbody>
                <% @list.each do |valor| %>
                  <tr>
                    <td>
                      <%= valor.id %>
                    </td>
                    <td>
                      <a href="/" target="_blank"><%= valor.numero %></a>
                    </td>
                    <td>
                      <a href="/" target="_blank"><%= valor.name %></a>
                    </td>
                    <td>
                      <a href="/" target="_blank"><%= valor.toxicidad %></a>
                    </td>
                  </tr>
                <% end %>
              </tbody>
          </table>
    </div>
    <!-- script references
    -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>