
<!DOCTYPE html>

<html lang="es">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
    <meta charset="utf-8"/>
    <title>MyOpenData</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet">/</link>
    <!--[if lt IE 9]
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    -->
    <link href="/css/styles.css" rel="stylesheet">/</link>
    <script src="/js/chartkick.js"></script>
    <script src="http://www.google.com/jsapi"></script>
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/" role="navigation">MyOpenData</a>
          <button class="navbar-toggle" data-target="#navbar-main" data-toggle="collapse" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <nav class="navbar-nav navbar-left">
              <a class="navbar-brand" href="/aditivos">Aditivos</a>
          </nav>
        </div>
      </div>
      <!-- /.navbar-collapse
      -->
    </div>
    <div class="container">
      <div class="row">
        <div class="text-center v-center">
            <h2>Escanear Alimento</h2>
            <a href="/"> <!-- Llamada a la web para insetar el elemeto -->
              <img alt="Imagenes Escaner Codigo" class="img-responsive col-xs-2 col-xs-offset-5" src="img/escanear-codigo.jpg"/>
            </a>
        </div>
      </div>
    </div>

    <!-- TABLA -->

    <div class ="container">
      <div class="row">
        <h3> Introduzca Producto: </h3>
        <br>
        <div class="container">
       <div class="row">

       <i class="v-center aa fa fa-font fa-4x"></i>
         <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
            <form role="form" action="/" method="post">
              <div class="form-group col-xs-12 col-md-10 col-sm-12 col-lg-10">
                <input type="text" class="form-control" name="producto" id="producto" placeholder="ejemplo: Coca-Cola">
              </div>
              
              <button class="btn btn-primary col-xs-12 col-md-2 col-sm-12 col-lg-2" type="submit">Buscar</button>
            </form>
        </div>     
      </div>
    </div>

    <div class="row">
          <% if @consulta != nil %>
            <%= bar_chart @consulta %>
          <% end %>

    </div>
    <!-- script references
    -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/actualizar.js"></script>
  </body>
</html>