@import url('bootstrap.min.css');

html,body {
  height:100%;
}

/*.pbackground {
    min-height: 100%; 
    background: url('../img/fondo-libook.png') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-right: auto;
    margin-left: auto;
}*/

h1 {
  font-family: Arial,sans-serif;
  font-size:xx-large;
  color:#DDCCEE;
}

.lead {
	color:#efefef;
}

/* Custom container */
.container-full {
  margin: auto;
  width: 100%;
  min-height: 10%;
  background-color:#110022;
  color:#fff;
  overflow:hidden;
}

.navbar-fixed-top{
  background-color:#110022;
  border: 0;

}
.container-full a {
  color:#fff;
  text-decoration: none;
}

.v-center {
  margin-top:80px;
}

.container-down {
  margin-top:2%;
  }
